body{
	/*background: red;*/
	width: 800px
	height: 700px;
	max-height: 1200px;
	font-family: 'Press Start 2P', cursive;

}

#gameboard {
    border:1px solid black;
    background-color: green;
    height: 600px;
    width: 400px;
    margin-left: 200px;
   overflow: hidden;
   position: relative;
    
}

.car{
	height: 80px;
	width: 50px;
	position: absolute;
	background: yellow;
	/*top: 500px;
	left: 390px;*/
}

#car1{
	background: blue;
	top: 500px;
	left: 165px;
}

#car2{
	background: red;
}

.ob1{
	top: -150px;
}


.ob{
	height: 80px;
	width: 50px;
	position: absolute;
	background: yellow;
}