
/*MAIN BODY ELEMENTS*/
body{
	/*background: red;*/
	width: 800px
	height: 700px;
	max-height: 1200px;
	font-family: 'Press Start 2P', cursive;
	pointer-events:none;
}

p{
	display: inline;
	float: left;
	font-size: 15px;
	margin: 10px 50px;
	line-height: 25px;
}
/*INTRO/OUTRO FADES*/
.intro1{
	margin-top:  50px;
}

.outro{
	color:white;
	text-align: center;
	margin-left: 60px;
}

.outro1{
	margin-top: 50px;
}

.mOutro{
	height: 170px;
}

.white{
	width: 800px;
	height: 700px;
	background: white;
	z-index: 15;	
}

.black{
	width: 800px;
	height: 700px;
	background: black;
	z-index: 15;
	display: none;	
}

#gameboard {
    border: 5px solid #172A3A;
    background: #272626;
    background: url("../assets/road.png") no-repeat;
    background-size: 100%;
    height: 600px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: -5;
}
/*BUTTONS*/
.button{
    float: right;
    top: 520px;
    left: 50px;
    position: absolute;
    color: #172A3A;
    border: 5px solid #172A3A;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    z-index: 5;
    pointer-events:auto;
}

.mButton{
	top: 500px;
	left: 110px;
}

#playAgain{
	color:white;
	border:5px solid white;
	background-color: black;
	top:340px;
	left: 90px;
}
/*ROAD STYLES*/
.road{
	height: 600px;
    width: 400px;
	background: url("../assets/road.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: -650px;
    z-index: -2;
}

.roadStart{     /*What it looks like when the screen loads */
	top: 0px;
	background: white;
	z-index: 4;
}
/*CLOCK*/
#clock {        /*Styling the clock */
	float: left;
	margin: 30px;
	color: white;	
	z-index: 3;
	display: inline;
}
/*CARS*/
.car{
	height: 110px;
	width: 50px;
	position: absolute;
	background: yellow;
	
}

#car1{
	
	top: 465px;
	left: 170px;
	background: url("../assets/4runner1.png") no-repeat;
	background-size: 100%;
}

#car2{
	background: url("../assets/4runner2.png") no-repeat;
	top: 465px;
	left: 270px;
}
/*OBJECTS */
.ob{
	height: 100px;
	width: 50px;
	position: absolute;
	background: grey;
}
.ob1,.ob2{
	height: 100px;
	top: -150px;
	background: url("../assets/carOb1.png") no-repeat;
	background-size: 100%;
}

.ob2{
	background: url("../assets/carOb2.png") no-repeat;
}



